@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "variables";
@import "mixins";
@import "full-page-spinner";
@import "pagintaor";
@import "fb_loader";

@import '../../../node_modules/bootstrap/scss/bootstrap';

.padding-0 {
  padding: 0;
}
.padding-10 {
  padding: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.hidden {
  display: none !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#demo {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.ribbon {
  z-index: 100;
}

.green {
  background-color: #6fb936;
}

.thumb {
  margin-bottom: 30px;
}

.page-top {
  margin-top: 30px;
  margin-bottom: 30px;
}


img.zoom {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}

.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.transition-cool {
  z-index: 999 !important;
  -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -o-transform: scale(4);
  transform: scale(4);
}

.modal-header {

  border-bottom: none;
}

.modal-title {
  color: #000;
}

.modal-footer {
  display: none;
}

.caption-text-warpper {
  text-align: left;
}

.ribbon-show-wrapper {
  position: fixed;
  width: 320px;
  top: 50px;
  right: 312px;

  @include breakpoint(xs) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .ribbon-show {
    width: 8vw;
    display: inline-block;
  }
}

.carving-description {
  font-size: 15px;
  font-style: italic;
  &::first-letter {
    text-transform: capitalize;
  }
}